html{
	height: 100%;
		}
body{
	height: 100%;
	font-size: 40px;
	background: white
	background-size: cover;
	margin: 0;
	font-family: 'Holtwood One SC', serif;
}
ul, li{
	list-style: none;
}
a{
	text-decoration: none;
	color: pink;
}
.wrapper{
	height: 100%;
	text-align: center;
	/*background: url(../images/abstrakciya-setka-chernyy-belyy.jpg) no-repeat center center;*/
	/*background: url(http://ink-project.ru/wallpapers/small/1811.jpg) no-repeat center center;*/
	background-size: cover;
	/* -webkit-background-clip clips the background of the element to the text */
	/*-webkit-text-fill-color: transparent;*/ /* overrides the white text color in webkit browsers */
	/*-webkit-background-clip: text;*/
}

/*.wrapper:before {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	content: "";
}*/

ul {
	margin: 0;
	display: inline-block;
	vertical-align: middle;
}
li{
	line-height: 95px;
	/*text-shadow: 1px 1px 8px rgb(255, 192, 198);*/
}


.ready {
	padding-top: 200px;
	font-size: 30px;
	line-height: 17px;
}

.ready__span{

}


li:hover{
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-gradient(linear, 100% 100%, 0% 0%,color-stop(0, rgba(0, 0, 0, 0.98)),color-stop(0.09, rgb(242, 0, 0)),color-stop(0.1, rgba(255, 76, 8, 0.81)),color-stop(0.19, rgba(255, 76, 8, 0.81)),color-stop(0.198, rgb(242, 0, 0)),color-stop(0.29, rgb(242, 0, 0)),color-stop(0.3, rgba(255, 76, 8, 0.81)),color-stop(0.39, rgba(255, 76, 8, 0.81)),color-stop(0.4, rgb(242, 0, 0)),color-stop(0.487, rgb(242, 0, 0)),color-stop(0.5, rgba(255, 76, 8, 0.81)),color-stop(0.59, rgba(255, 76, 8, 0.81)),color-stop(0.6, rgb(242, 0, 0)),color-stop(0.69, rgb(242, 0, 0)),color-stop(0.7, rgba(255, 76, 8, 0.81)),color-stop(0.79, rgba(255, 76, 8, 0.81)),color-stop(0.8, rgb(242, 0, 0)),color-stop(0.89, rgb(242, 0, 0)),color-stop(0.901, rgba(255, 76, 8, 0.81)),color-stop(0.99, rgba(255, 76, 8, 0.81)));
	    /* Android 2.3 */
	    background-image: -webkit-linear-gradient(135deg,rgba(0, 0, 0, 0.98) 0%,rgb(242, 0, 0) 9%,rgba(255, 76, 8, 0.81) 10%,rgba(255, 76, 8, 0.81) 19%,rgb(242, 0, 0) 19.8%,rgb(242, 0, 0) 29%,rgba(255, 76, 8, 0.81) 30%,rgba(255, 76, 8, 0.81) 39%,rgb(242, 0, 0) 40%,rgb(242, 0, 0) 48.7%,rgba(255, 76, 8, 0.81) 50%,rgba(255, 76, 8, 0.81) 59%,rgb(242, 0, 0) 60%,rgb(242, 0, 0) 69%,rgba(255, 76, 8, 0.81) 70%,rgba(255, 76, 8, 0.81) 79%,rgb(242, 0, 0) 80%,rgb(242, 0, 0) 89%,rgba(255, 76, 8, 0.81) 90.1%,rgba(255, 76, 8, 0.81) 99%);
	    /* IE10+ */
	    background-image: linear-gradient(315deg,rgba(0, 0, 0, 0.98) 0%,rgb(242, 0, 0) 9%,rgba(255, 76, 8, 0.81) 10%,rgba(255, 76, 8, 0.81) 19%,rgb(242, 0, 0) 19.8%,rgb(242, 0, 0) 29%,rgba(255, 76, 8, 0.81) 30%,rgba(255, 76, 8, 0.81) 39%,rgb(242, 0, 0) 40%,rgb(242, 0, 0) 48.7%,rgba(255, 76, 8, 0.81) 50%,rgba(255, 76, 8, 0.81) 59%,rgb(242, 0, 0) 60%,rgb(242, 0, 0) 69%,rgba(255, 76, 8, 0.81) 70%,rgba(255, 76, 8, 0.81) 79%,rgb(242, 0, 0) 80%,rgb(242, 0, 0) 89%,rgba(255, 76, 8, 0.81) 90.1%,rgba(255, 76, 8, 0.81) 99%);
	    background-image: -ms-linear-gradient(135deg,rgba(0, 0, 0, 0.98) 0%,rgb(242, 0, 0) 9%,rgba(255, 76, 8, 0.81) 10%,rgba(255, 76, 8, 0.81) 19%,rgb(242, 0, 0) 19.8%,rgb(242, 0, 0) 29%,rgba(255, 76, 8, 0.81) 30%,rgba(255, 76, 8, 0.81) 39%,rgb(242, 0, 0) 40%,rgb(242, 0, 0) 48.7%,rgba(255, 76, 8, 0.81) 50%,rgba(255, 76, 8, 0.81) 59%,rgb(242, 0, 0) 60%,rgb(242, 0, 0) 69%,rgba(255, 76, 8, 0.81) 70%,rgba(255, 76, 8, 0.81) 79%,rgb(242, 0, 0) 80%,rgb(242, 0, 0) 89%,rgba(255, 76, 8, 0.81) 90.1%,rgba(255, 76, 8, 0.81) 99%);
	background-size: 2% 1000%;
	animation: text 1s linear normal infinite;
	animation-fill-mode: both;
}

@keyframes text { 0% { background-position: center left, top left; }

				100% { background-position: center right, top right } }



