.sprite
	background-image: url(spritesheet.png)
	background-repeat: no-repeat
	display: block

.sprite-3
	width: 9px
	height: 8px
	background-position: -5px -5px

.sprite-ShapeBack
	width: 21px
	height: 39px
	background-position: -24px -5px

.sprite-ShapeFront
	width: 21px
	height: 38px
	background-position: -55px -5px

.sprite-SmallArrow
	width: 52px
	height: 19px
	background-position: -86px -5px

.sprite-checked
	width: 38px
	height: 35px
	background-position: -86px -34px

.sprite-footerIcon
	width: 59px
	height: 48px
	background-position: -5px -79px

.sprite-insta
	width: 58px
	height: 48px
	background-position: -74px -79px

.sprite-logo
	width: 115px
	height: 114px
	background-position: -148px -5px

.sprite-loupe
	width: 10px
	height: 10px
	background-position: -273px -5px
