
@font-face
	font-family: "StudioScriptC"
	src: url('fonts/StudioScriptC.eot')
	src: url('fonts/StudioScriptC.eot?#iefix') format('embedded-opentype')
	src: url('fonts/StudioScriptC.woff') format('woff')
	src: url('fonts/StudioScriptC.ttf') format('truetype')
	font-weight: normal
	font-style: normal

html, body
	height: 100%

body
	font-family: "Open Sans"
	color: #444444


*
	box-sizing: border-box
h1,
h2,
h3
	margin: 0
	padding: 0

ul
	list-style: none
	margin: 0
	padding: 0

li
	margin: 0
	padding: 0

a
	text-decoration: none
	list-style-type: none


input
	border: none
	padding: 0
	margin: 0

p
	margin: 0

.container
	box-shadow: 0px 0px 15px rgba(46, 46, 43, 0.55)
	width: 1350px
	margin: 0 auto

.main
	margin: 0 auto
	width: 1350px

.header__line1
	background: #2a251f
	font-weight: 700
	color: white
	font-size: 15px
	padding-left: 90px
	height: 37px
	line-height: 41px
	position: relative

.header__contact
	padding-right: 43px
	color: white

.header__block1
	display: inline-block
	width: 50%
.header__block2
	text-align: right
	display: inline-block
	width: 43%

.header__search
	font-weight: 400
	font-size: 12px
	font-style: italic
	border-radius: 2px
	padding-left: 15px
	height: 23px
	width: 152px
	vertical-align: text-top
	line-height: 23px


.header__search-img
	background: url(images/sprite.png) no-repeat
	width: 17px
	height: 17px
	background-position: -41px -139px
	position: absolute
	top: 13px
	right: 401px

.header__work-time
	margin-left: 27px
	margin-right: 12px
	font-size: 13px
	font-weight: 700

.header__work-time_num
	font-weight: 400

.header__wrapper
	background: #e6e6e6

.header__line2
	padding-top: 8px
	padding-bottom: 8px
	width: 1169px
	margin: 0 auto

.header__logo
	display: inline-block
	background: url(images/sprite.png) no-repeat
	width: 70px
	height: 68px
	background-position: -205px -61px

.header__wrapper-title
	display: inline-block
	vertical-align: top
	line-height: 22px
	width: 289px
	margin-left: 15px
	text-transform: uppercase
	border-left: solid 2px #999999
	padding-left: 17px
	padding-right: 13px
	padding-bottom: 10px
	padding-top: 10px

.header__title-first
	font-size: 14px
	font-weight: 400

.header__title-second
	font-size: 13px
	font-weight: 500

.enroll
	margin-left: 47px
	display: inline-block
	margin-top: 10px
	vertical-align: top

.enroll__item
	display: inline-block
	font-size: 15px
	padding: 7px 17px 5px 12px
	margin-right: 17px
	&:last-child
		margin-right: 0
	a
		color: white

.enroll__item-a
	display: inline-block
	line-height: 15px
	font-size: 13px

	&_width1
		width: 90px
	&_width2
		width: 190px
	&_width3
		width: 175px


.enroll__item-a-img
	background: url(images/sprite.png) no-repeat
	width: 26px
	height: 26px
	background-position: -5px -139px
	display: inline-block
	margin-top: 2px
	margin-right: 12px


.enroll__item-span
	font-weight: 600
	font-size: 13px


.enroll__item_color1
	/* IE10+ */ 
	background-image: -ms-linear-gradient(top, #7171db 0%, #4949C9 100%)

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #7171db 0%, #4949C9 100%)

	/* Opera */ 
	background-image: -o-linear-gradient(top, #7171db 0%, #4949C9 100%)

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7171db), color-stop(100, #4949C9))

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #7171db 0%, #4949C9 100%)

	/* W3C Markup */ 
	background-image: linear-gradient(to bottom, #7171db 0%, #4949C9 100%)


	&:hover
		/* IE10+ */ 
		background-image: -ms-linear-gradient(top, #2828a1 0%, #12127C 100%)
		/* Mozilla Firefox */ 
		background-image: -moz-linear-gradient(top, #2828a1 0%, #12127C 100%)
		/* Opera */ 
		background-image: -o-linear-gradient(top, #2828a1 0%, #12127C 100%)
		/* Webkit (Safari/Chrome 10) */ 
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2828a1), color-stop(100, #12127C))
		/* Webkit (Chrome 11+) */ 
		background-image: -webkit-linear-gradient(top, #2828a1 0%, #12127C 100%)
		/* W3C Markup */ 
		background-image: linear-gradient(to bottom, #2828a1 0%, #12127C 100%)
.enroll__item_color2
	/* IE10+ */ 
	background-image: -ms-linear-gradient(top, #3AAD2C 0%, #1d8c13 100%)

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #3AAD2C 0%, #1d8c13 100%)

	/* Opera */ 
	background-image: -o-linear-gradient(top, #3AAD2C 0%, #1d8c13 100%)

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3AAD2C), color-stop(100, #1d8c13))

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #3AAD2C 0%, #1d8c13 100%)

	/* W3C Markup */ 
	background-image: linear-gradient(to bottom, #3AAD2C 0%, #1d8c13 100%)

	&:hover
		/* IE10+ */ 
		background-image: -ms-linear-gradient(top, #25951A 0%, #1E7A15 100%)

		/* Mozilla Firefox */ 
		background-image: -moz-linear-gradient(top, #25951A 0%, #1E7A15 100%)

		/* Opera */ 
		background-image: -o-linear-gradient(top, #25951A 0%, #1E7A15 100%)

		/* Webkit (Safari/Chrome 10) */ 
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #25951A), color-stop(100, #1E7A15))

		/* Webkit (Chrome 11+) */ 
		background-image: -webkit-linear-gradient(top, #25951A 0%, #1E7A15 100%)

		/* W3C Markup */ 
		background-image: linear-gradient(to bottom, #25951A 0%, #1E7A15 100%)

.enroll__item_color3
	/* IE10+ */ 
	background-image: -ms-linear-gradient(top, #F78E12 0%, #f36807 100%)

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #F78E12 0%, #f36807 100%)

	/* Opera */ 
	background-image: -o-linear-gradient(top, #F78E12 0%, #f36807 100%)

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F78E12), color-stop(100, #f36807))

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #F78E12 0%, #f36807 100%)

	/* W3C Markup */ 
	background-image: linear-gradient(to bottom, #F78E12 0%, #f36807 100%)

	&:hover
		/* IE10+ */ 
		background-image: -ms-linear-gradient(top, #F7780B 0%, #D6680A 100%)

		/* Mozilla Firefox */ 
		background-image: -moz-linear-gradient(top, #F7780B 0%, #D6680A 100%)

		/* Opera */ 
		background-image: -o-linear-gradient(top, #F7780B 0%, #D6680A 100%)

		/* Webkit (Safari/Chrome 10) */ 
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F7780B), color-stop(100, #D6680A))

		/* Webkit (Chrome 11+) */ 
		background-image: -webkit-linear-gradient(top, #F7780B 0%, #D6680A 100%)

		/* W3C Markup */ 
		background-image: linear-gradient(to bottom, #F7780B 0%, #D6680A 100%)


.nav
	list-style-type: none
	padding-left: 90px

.nav__item
	display: inline-block
	padding-right: 26px
	position: relative
	height: 30px
	font-weight: 900
	font-size: 12px
	text-transform: uppercase
	color: #444444
	&-a
		color: #444444
		&:hover
			color: #adacac


.nav__hover
	display: none
	position: absolute
	left: 0
	top: 29px
	background-color: #2e2e2b
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.6)
	z-index: 1

.nav__item:hover .nav__hover
	display: inline-block

.nav__hover-item
	width: 203px
	height: 30.5px
	border-bottom: 1px solid rgba(255, 255, 255, 0.18)
	padding-left: 26px
	font-weight: 700
	line-height: 31px
	text-transform: none
	font-size: 13px
	&:hover
		background: #39ac2b

	&-a
		color: rgba(255, 255, 255, 0.9)


.triangle
	position: absolute
	left: 24px
	top: -5px
	color: #444444

.nav__triangle
	background: url(images/sprite.png) no-repeat
	width: 9px
	height: 8px
	background-position: -71px -61px
	position: absolute
	top: 5px

	&_position1
		left: 65px

	&_position2
		left: 103px

	&_position3
		left: 118px


.promo
	background: url("images/slider.jpg")
	height: 470px

.promo__block
	display: inline-block

.promo__h1
	padding-left: 118px
	font-size: 36px
	font-weight: 700
	text-transform: uppercase
	line-height: 36px
	padding-top: 61px
	padding-bottom: 26px

.promo__ul
	padding-left: 161px

.promo__text
	font-size: 30px
	position: relative
	line-height: 29px
	margin-bottom: 20px

	&-checked
		background: url(images/sprite.png) no-repeat
		width: 28px
		height: 23px
		background-position: -249px -28px
		position: absolute
		top: 4px
		left: -40px


// Форма

.form
	background: url("images/rectangle.png") no-repeat
	width: 330px
	height: 317px
	display: inline-block
	vertical-align: top
	margin-top: 79px
	margin-right: 83px
	padding-left: 68px
	padding-top: 21px
	float: right

	&__title
		text-transform: uppercase
		font-weight: 400
		line-height: 26px
		font-size: 24px
		margin-bottom: 5px

		&_red
			color: red
			line-height: 26px

	&__input
			border: 1px solid rgb(226, 223, 223)
			border-radius: 2px
			padding: 0px 13px
			background: rgb(239, 239, 239)
			margin-bottom: 9px
			box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.04)
			height: 34px
			width: 199px
			font-size: 12px

	&__input_submit
		color: white
		font-weight: 700
		font-size: 12px
		background-color: rgb(233, 11, 11)
		box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.04)
		width: 198px
		height: 42px
		margin-top: 10px
		cursor: pointer
		&:hover
			background-color: rgb(184, 1, 1)

.form__checkbox-label
	font-size: 12px
	position: relative
	padding-left: 38px
	&:before
		content: ""
		width: 9px
		height: 9px
		background: #fff
		border: 1px solid rgba(0, 0, 0, 0.44)
		display: inline-block
		position: absolute
		left: 17px
		top: 3px

.form__checkbox-input
	display: none
	&:checked + .form__checkbox-label:after
		content: ""
		background-image: url(images/sprite.png)
		width: 16px
		height: 13px
		background-position: -249px -5px
		position: absolute
		top: 2px
		left: 16px
		opacity: 1

.slider-button
	background: #ffffff
	height: 20px
	line-height: 15px

	&__item
		display: inline-block
		height: 4px
		width: 381px
		background: #8ebf18
		margin-left: 90px


.features
	height: 32px
	background: #8ebf18

	&__ul
		height: 29px
		padding-top: 3px
		margin: 0 auto
		display: block
		width: 800px
		line-height: 20px


	&__item
		display: inline-block
		padding-right: 9px
		padding-left: 5px
		margin-right: 12px
		&:hover
			background: #b3d464

	&__a
		color: white
		font-size: 12px
		font-weight: 700
		text-transform: uppercase
		vertical-align: -4px

.features__img
	background-image: url(images/sprite.png)
	display: inline-block
	margin-right: 30px
	margin-bottom: -1px

	&_inglish
		width: 15px
		height: 11px
		background-position: -5px -5px

	&_german
		width: 14px
		height: 11px
		background-position: -109px -61px

	&_french
		width: 14px
		height: 11px
		background-position: -133px -61px

	&_italian
		width: 14px
		height: 11px
		background-position: -157px -61px

	&_spanish
		width: 14px
		height: 11px
		background-position: -181px -61px

.blurb__big-item
	text-transform: uppercase
	font-size: 30px
	text-align: center
	display: inline-block
	width: 354px
	vertical-align: 19px

.blurb__title-red
		color: red
		font-weight: 200
		line-height: 38px

.blurb__title-p
		color: #444444
		font-weight: 700
		line-height: 38px

.blurb
	background: white
	height: 221px
	padding-right: 92px
	padding-left: 103px

.blurb__item
	display: inline-block
	width: 167px
	text-align: center
	margin-right: 30px
	padding-top: 46px
	padding-bottom: 37px

.blurb__text
	padding-top: 15px


.blurb__head
	line-height: 16px
	font-size: 14px

.blurb__footer
	font-weight: 700
	line-height: 16px
	font-size: 14px



.blurb__img
	background-image: url(images/sprite.png)
	text-align: center
	display: inline-block
	height: 100px


	&_pic1
		width: 63px
		height: 63px
		background-position: -270px -139px
		top: 0
		left: 1px

	&_pic2
		width: 35px
		height: 64px
		background-position: -292px -5px
		top: 0
		left: 1px


	&_pic3
		width: 102px
		height: 64px
		background-position: -5px -231px
		top: 0
		left: 1px

	&_pic4
		width: 106px
		height: 64px
		background-position: -117px -231px
		top: 0
		left: 1px


//		Блок дизайнерского мастерства

.advertising-center-layout
	background: #e6e6e6

.advertising
	height: 591px
	width: 1170px
	margin: 0 auto
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex

.advertising__wrapper
	display: inline-block


.advertising__skype
	display: inline-block
	text-align: right
	background-image: url("images/skype.png")
	width: 591px
	height: 591px
	padding-top: 35px
	&:hover
		filter: drop-shadow(5px -5px 5px rgba(0, 0, 0, 0.62)) opacity(70%)
		-webkit-filter: drop-shadow(5px -5px 5px rgba(0, 0, 0, 0.62)) opacity(70%)
		-moz-filter: drop-shadow(5px -5px 5px rgba(0, 0, 0, 0.62)) opacity(70%)
		-ms-filter: drop-shadow(5px -5px 5px rgba(0, 0, 0, 0.62)) opacity(70%)
		-o-filter: drop-shadow(5px -5px 5px rgba(0, 0, 0, 0.62)) opacity(70%)

.advertising__business
	display: block
	text-align: right
	background: url("images/business.png")
	width: 580px
	height: 296px
	padding-top: 35px
	&:hover
		filter: drop-shadow(-5px 5px 5px rgba(0, 0, 0, 0.62)) opacity(70%)
		-webkit-filter: drop-shadow(-5px 5px 5px rgba(0, 0, 0, 0.62)) opacity(70%)
		-moz-filter: drop-shadow(-5px 5px 5px rgba(0, 0, 0, 0.62)) opacity(70%)
		-ms-filter: drop-shadow(-5px 5px 5px rgba(0, 0, 0, 0.62)) opacity(70%)
		-o-filter: drop-shadow(-5px 5px 5px rgba(0, 0, 0, 0.62)) opacity(70%)


.advertising__children
	display: block
	background: url("images/children.png")
	width: 580px
	height: 294px
	padding-top: 19px
	&:hover
		filter: drop-shadow(-5px -5px 5px rgba(0, 0, 0, 0.62)) opacity(70%)
		-webkit-filter: drop-shadow(-5px -5px 5px rgba(0, 0, 0, 0.62)) opacity(70%)
		-moz-filter: drop-shadow(-5px -5px 5px rgba(0, 0, 0, 0.62)) opacity(70%)
		-ms-filter: drop-shadow(-5px -5px 5px rgba(0, 0, 0, 0.62)) opacity(70%)
		-o-filter: drop-shadow(-5px -5px 5px rgba(0, 0, 0, 0.62)) opacity(70%)



//		Блок текста

.advertising__p
	display: inline-block

.advertising__title
	padding-right: 8px
	padding-left: 8px
	background: #ffffff
	font-size: 18px
	font-weight: 400
	text-transform: uppercase
	display: inline-block

.advertising__text
	padding-right: 8px
	padding-left: 8px
	background: #ffffff
	display: inline-block
	font-size: 24px

.advertising__bold
	padding-left: 8px
	padding-right: 8px
	background: #ffffff
	font-weight: 700
	text-transform: uppercase
	font-size: 30px

.advertising__capslock
	padding-left: 8px
	padding-right: 8px
	font-weight: 400
	font-size: 30px
	background: #ffffff
	width: 268px


//		Учителя

.teachers
	height: 477px

.teachers__button
	width: 90px
	height: 437px
	position: absolute
	z-index: 1

	/* IE10+ */ 
	background-image: -ms-linear-gradient(left, #F59F0A 0%, #ff7f04 100%)

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(left, #F59F0A 0%, #ff7f04 100%)

	/* Opera */ 
	background-image: -o-linear-gradient(left, #F59F0A 0%, #ff7f04 100%)

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #F59F0A), color-stop(100, #ff7f04))

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(left, #F59F0A 0%, #ff7f04 100%)

	/* W3C Markup */ 
	background-image: linear-gradient(to right, #F59F0A 0%, #ff7f04 100%)

	&:hover
		/* IE10+ */ 
		background-image: -ms-linear-gradient(left, #F79012 0%, #F36C08 100%)

		/* Mozilla Firefox */ 
		background-image: -moz-linear-gradient(left, #F79012 0%, #F36C08 100%)

		/* Opera */ 
		background-image: -o-linear-gradient(left, #F79012 0%, #F36C08 100%)

		/* Webkit (Safari/Chrome 10) */ 
		background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #F79012), color-stop(100, #F36C08))

		/* Webkit (Chrome 11+) */ 
		background-image: -webkit-linear-gradient(left, #F79012 0%, #F36C08 100%)

		/* W3C Markup */ 
		background-image: linear-gradient(to right, #F79012 0%, #F36C08 100%)

.teachers__button-title,
.teachers__button-text
	transform: rotate(270deg)
	display: inline-block
	color: #fff
	position: absolute


.teachers__button-title
	text-transform: uppercase
	font-size: 22px
	font-weight: normal
	height: 25px
	width: 110px
	top: 195px
	left: -18px

.teachers__button-text
	font-size: 18px
	font-weight: 600
	height: 25px
	width: 163px
	top: 200px
	left: -20px

.teachers__button-icon
	background: url(images/sprite.png) no-repeat
	width: 22px
	height: 24px
	background-position: -5px -61px
	display: inline-block
	position: absolute
	bottom: 75px
	left: 37px

//Таблички учителей

.teachers__slider
	white-space: nowrap
	padding-left: 117px
	display: inline-block
	vertical-align: top
	margin-top: 65px
	width: 100%
	overflow: hidden


.teachers__icon
	white-space: normal
	width: 163px
	text-align: center
	display: inline-block
	margin-right: 24px
	border: 1px solid rgba(128, 128, 128, 0.25)
	padding-bottom: 8px
	border-top: none
	filter: grayscale(100%)
	-webkit-filter: grayscale(100%)
	-moz-filter: grayscale(100%)
	-ms-filter: grayscale(100%)
	-o-filter: grayscale(100%)
	filter: url(desaturate.svg#greyscale)
	filter: gray
	-webkit-filter: grayscale(1)
	&:hover
		filter: none
		-webkit-filter: none
		-moz-filter: none
		-ms-filter: none
		-o-filter: none
		filter: none
		filter: none
		-webkit-filter: none

.teachers__text
	padding-top: 4px

.teachers__name
	font-weight: 700
	font-size: 14px
	line-height: 14px
	padding-bottom: 7px

.teachers__subject
	font-weight: normal
	font-size: 12px
	padding-bottom: 5px

.teachers__experience
	font-weight: 700
	font-size: 12px


//		Отзывы

.review
	color: black
	width: 1170px
	margin: 0 auto
	height: 653px

.review__h2
	text-transform: uppercase
	font-size: 30px
	font-weight: 700
	margin-bottom: 33px

.review__icon
	height: 251px
	width: 570px
	display: inline-block
	color: black
	border: 1px solid rgba(128, 128, 128, 0.25)
	padding-top: 15px
	padding-left: 20px
	margin-bottom: 29px
	margin-right: 25px
	position: relative
	&:nth-of-type(2n)
		margin-right: 0
	&:hover
		border: 1px solid black




.review__block
	display: inline-block


//		Зелёный блок
.review__icon_none
	background: #8cc63f
	text-align: center
	vertical-align: top
	&:hover
		border: none
		background: #8EC940

.review__link
	color: #fff
	font-size: 30px
	line-height: 197px
	font-weight: 300


//		Отзывы фотки
.review__img
	display: inline-block
	vertical-align: top


//		Отзывы текст
.review__text-wrapper
	width: 372px
	display: inline-block
	padding-left: 23px

.review__name
	font-size: 14px
	font-weight: bold
	padding-bottom: 8px

.review__title
	font-size: 13px
	font-weight: 600
	padding-bottom: 19px

.review__text
	font-size: 13px
	font-weight: 600


//		блок с ценами
.price
	background: url("images/bg.jpg")
	height: 534px
	padding-top: 51px
	padding-left: 90px
	padding-right: 90px
	position: relative
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.32)
	z-index: 1

.price__h2
	text-transform: uppercase
	color: black
	padding-bottom: 53px
	font-size: 30px


.price__promo
	font-family: "StudioScriptC"
	font-size: 23px
	font-weight: 600
	position: absolute
	top: 32px
	right: 236px
	color: rgba(0, 0, 0, 0.86)
	letter-spacing: 0.5px
	&:before
		content: ""
		position: absolute
		right: 299px
		top: 27px
		background: url(images/sprite.png) no-repeat
		width: 110px
		height: 31px
		background-position: -129px -5px

.price__wrapper
	margin: 0 auto
	width: 1055px
	height: 354px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between



.price__block
	color: #fff
	text-align: center
	display: inline-block
	width: 294px
	height: 333px
	box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.57)
	padding-top: 20px

	&_big
		transform: scale(1.08) translateY(-12px)

.enroll__border
	border: 1px solid white
	margin-top: 18px
	text-align: left

.price__h3
	text-transform: uppercase
	font-size: 25px
	font-weight: 600

.price__title
	font-size: 18px
	font-weight: 300
	line-height: 41px

.price__title_margin
	margin-top: 5px

.price__text
	font-size: 23px
	font-weight: 400
	line-height: 25px
	letter-spacing: 0.3px

.more
	padding-bottom: 31px
	.more__button-wrapper
		text-align: center

	.more__button
		background: #e92937
		color: #fff
		width: 400px
		padding: 0 62px 0 0px
		line-height: 48px
		font-size: 18px
		font-weight: bold
		display: inline-block
		position: relative
		&:hover
			background: #b80101
		&:after
			content: ''
			background: url(images/sprite.png) no-repeat
			width: 17px
			height: 17px
			position: absolute
			width: 24px
			height: 13px
			background-position: -37px -61px
			right: 96px
			top: 18px

	.more__text-wrapper
		width: 1170px
		margin: 0 auto
		position: relative
		padding-top: 60px

	.more__title
		font-size: 14px
		font-weight: 600
		font-style: italic
		line-height: 18px
		margin-bottom: 18px

	.more__text
		font-size: 14px
		font-weight: 400
		color: #000
		margin-bottom: 16px

	.more__text-span
		font-weight: 600

	.more__h3
		font-size: 24px
		margin-bottom: 14px

	.more__h3-orange
		color: #f15b05

	.more__h3-green
		color: #2a981e

	.more__ul
		margin-bottom: 18px
	.more__li
		position: relative
		padding-left: 40px
		font-size: 15px
		margin-bottom: 9px
		&:before
			color: #6d6767
			content: "• "
			position: absolute
			left: 13px
			top: 0px
			font-size: 34px
			line-height: 23px

	.more__ps
		display: block
		position: relative
		text-align: right
		.more__ps-div
			width: 690px
			display: inline-block
			font-style: italic
			font-size: 23px
			color: #6d6969
			font-weight: 200

.footer
	background: #2e2e2b
	position: relative
	width: 1350px
	margin: 0 auto

	.footer__wrapper
		color: #fff
		width: 1272px
		margin: 0 auto
		position: relative

	.footer__title-a
		color: white

	.footer__link
		color: #fff
		text-decoration: none
		&:hover
			text-decoration: underline

	.footer__block
		display: inline-block
		vertical-align: top

		&_col-1
			padding-right: 50px

		&_col-2
			padding-right: 84px

		&_col-3
			padding-right: 104px

		&_col-4
			padding-right: 74px

		&_col-5
			padding-right: 0

	.footer__call
		padding-bottom: 10px
		line-height: 20px

	.footer__title
		font-size: 15px
		font-weight: 600

	.footer__text
		font-size: 11px

	.footer__address
		padding-bottom: 17px

	.footer-small-wrapper
		padding-top: 22px
		position: relative
		display: inline-block
		width: 22%
		vertical-align: top
		overflow: hidden

	.footer__social-btn
		background: url(images/sprite.png) no-repeat
		position: absolute
		transition: right 200ms ease-out

	.footer__social-btn_ok
		width: 100px
		height: 82px
		background-position: -160px -139px
		top: 23px
		right: -27px
		&:hover
			right: -20px

	.footer__social-btn_youtube
		width: 97px
		height: 82px
		background-position: -337px -5px
		top: 82px
		right: -24px
		&:hover
			right: -17px


	.footer-bigger-wrapper
		padding-left: 52px
		padding-top: 20px
		position: relative
		display: inline-block
		width: 77%
		vertical-align: top
		box-shadow: -6px 0px 6px rgba(0, 0, 0, 0.6)
		padding-bottom: 33px

	.enroll-footer
		margin-left: 181px
