.sprite
	background-image: url(spritesheet.png)
	background-repeat: no-repeat
	display: block


.sprite-Layer-11
	width: 64px
	height: 76px
	background-position: -5px -5px


.sprite-Layer-12
	width: 75px
	height: 72px
	background-position: -79px -5px


.sprite-Layer-13
	width: 74px
	height: 70px
	background-position: -79px -87px


.sprite-Layer-4
	width: 20px
	height: 14px
	background-position: -164px -5px


.sprite-Layer-8
	width: 138px
	height: 70px
	background-position: -194px -5px


.sprite-Vector-Smart-Object1
	width: 27px
	height: 33px
	background-position: -164px -85px


.sprite-Vector-Smart-Object2
	width: 27px
	height: 30px
	background-position: -201px -85px


.sprite-Vector-Smart-Object3
	width: 20px
	height: 22px
	background-position: -238px -85px


.sprite-facebook
	width: 9px
	height: 19px
	background-position: -268px -85px


.sprite-twitter
	width: 19px
	height: 15px
	background-position: -287px -85px

