.BuildControls {
	width: 100%;
	background-color: #cf8f2e;
	display: flex;
	flex-flow: column;
	align-items: center;
	box-shadow: 0 2px 1px #ccc;
	margin: auto;
	padding: 10px 0;
}

.OrderButton {
	background: green;
	color: #fff;
	width: 16%;
	height: 50px;
	outline: none;
	border: none;
	font-weight: bold;
	font-family: inherit;
	margin-top: 10px;
}

.OrderButton:disabled {
	background: grey;
	width: 10%;
	height: 35px;
}