* {
	box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;
}


body {
	background: #fff;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.container {
	height: calc(100vh - 20px);
	margin: 10px;
	display: grid;
	gap: 2vw;
	grid-template-areas: 
	'a b b'
	'c c e'
	'd d e'
	'f f f'
	'g g h';
	grid-template-rows: 30% repeat(4, 1fr);
	grid-template-columns: repeat(3, 1fr);
}

.el {
	color: #fff;
	font-size: 30px;
	text-transform: uppercase;
	padding: 20px 0 0 15px;
	background: purple;
	border-radius: 5px;
}

.el_1 {
	grid-area: a;
}

.el_2 {
	grid-area: b;
}

.el_3 {
	grid-area: c;
}

.el_4 {
	grid-area: d;
}

.el_5 {
	grid-area: e;
}

.el_6 {
	grid-area: f;
}

.el_7 {
	grid-area: g;
}

.el_8 {
	grid-area: h;
}


@media all and (min-width: 1110px) {
	.container {
		height: 600px;
		grid-template-areas:
			'a b b f g'
			'c c e f g'
			'd d e f h';
		grid-template-rows: repeat(3, 1fr);
		grid-template-columns: repeat(5, 1fr);
		gap: 10px;
	}

	.el {
		background: #634a8f;
	}

	.el_7 {
		height: 111%;
	}

	.el_8 {
		height: 150px;
		align-self: end;
	}
}