* {
	box-sizing: border-box;
}

html {
	height: 100%;
}


body {
	background: #fff;
	height: 100%;
}

.container {
	height: 1000px;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	gap: 2vw;
	grid-template-areas: 
		'a b'
		'c e'
		'd e'
		'f f'
		'g h';
	grid-template-rows: 50% repeat(4, 1fr);
	grid-template-columns: 30% 1fr;
}

.el {
	color: #fff;
	font-size: 30px;
	text-transform: uppercase;
	padding: 20px 0 0 15px;
	background: purple;
	border-radius: 5px;
}

.el_1 {
	grid-area: a;
}

.el_2 {
	grid-area: b;
}

.el_3 {
	grid-area: c;
}

.el_4 {
	grid-area: d;
}

.el_5 {
	grid-area: e;
}

.el_6 {
	grid-area: f;
}

.el_7 {
	grid-area: g;
}

.el_8 {
	grid-area: h;

}
