@font-face {
  font-family: 'PT Sans', sans-serif;
  src: url("fonts/PT_Sans-Web-Bold.ttf");
  src: url("fonts/PT_Sans-Web-Regular.ttf");
  font-size: 14px; }

html {
  width: 100%;
  height: 100%; }

body {
  font-family: 'PT Sans', sans-serif;
  color: black;
  width: 100%;
  height: 100%;
  text-transform: uppercase; }

* {
  box-sizing: border-box; }

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

li {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

a {
  text-decoration: none;
  color: black; }

h2 {
  font-size: 1.32em;
  font-weight: bold; }

h1 {
  font-size: 1.89em; }

p {
  font-size: 0.89em;
  line-height: 1.6em; }

.wrapper {
  margin: 0 auto;
  width: 1200px;
  padding: 0; }

.header {
  background: white;
  height: 56px; }

.top-menu {
  width: 1200px;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  font-size: 0.89em; }

.top-menu__li {
  display: flex;
  vertical-align: center;
  line-height: 56px; }

.top-menu__li-tringle {
  background: url(images/spritesheet.png) no-repeat;
  width: 138px;
  height: 70px;
  background-position: -194px -5px;
  display: block; }

.logo {
  background: white url(images/background-photo.jpg) no-repeat 0px -54px;
  min-height: 510px; }

.logo-a {
  display: block;
  padding-top: 76px; }

.logo-a__images {
  display: block;
  margin: 0 auto;
  padding-bottom: 45px; }

.decoration {
  float: left;
  width: 0;
  height: 0;
  border-bottom: 56px solid white;
  border-right: 600px solid transparent; }
  .decoration:after {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 56px solid white;
    border-left: 355px solid transparent;
    position: absolute;
    right: 250px; }

.decoration-end {
  float: right;
  width: 0;
  height: 0;
  border-bottom: 56px solid white;
  border-left: 600px solid transparent; }
  .decoration-end:after {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 56px solid white;
    border-right: 355px solid transparent;
    position: absolute;
    left: 250px; }

.feature {
  text-align: center;
  margin-top: 56px; }

.section-feature {
  width: 400px;
  height: 256px;
  background: #81b3d2;
  text-align: center;
  color: white;
  padding-top: 21px;
  display: inline-block;
  vertical-align: top; }
  .section-feature h2 {
    margin-top: 25px; }
  .section-feature p {
    margin-top: 18px; }

.feature__why {
  margin-top: 29px;
  margin-bottom: 46px; }

.middle-image {
  display: inline-block;
  float: left; }
  .middle-image-right {
    float: right; }

.middle-image-float {
  float: left; }

.block-feature {
  display: inline-block;
  background: white;
  width: 400px;
  height: 330px;
  text-align: center; }

.block-feature__image {
  background: url(images/spritesheet.png) no-repeat;
  display: inline-block;
  text-align: center;
  margin-top: 61px; }

.block-feature__image-home {
  width: 75px;
  height: 72px;
  background-position: -79px -5px; }

.block-feature__image-bread {
  width: 74px;
  height: 70px;
  background-position: -79px -87px; }

.block-feature__image-gif {
  width: 64px;
  height: 76px;
  background-position: -5px -5px; }

.section-wrapper {
  *zoom: 1; }

.section-wrapper:before, .section-wrapper:after {
  content: "";
  display: table; }

.section-wrapper:after {
  clear: both; }

.section-feature__last {
  background: #eeeeee;
  color: black; }

.after-wrapper {
  text-align: center;
  margin-top: 43px; }
  .after-wrapper p {
    margin-top: 29px; }

.map__iframe {
  width: 100%;
  height: 474px; }

.footer {
  background: #fff;
  height: 121px;
  width: 1200px;
  position: relative;
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto; }

.contacs {
  font-size: 1.32em;
  font-weight: bold;
  margin-left: -20px; }

.social-buttons {
  text-align: center; }

.btn-social-container {
  display: inline-block;
  text-align: center;
  background-color: #81b3d2;
  width: 43px;
  height: 43px;
  line-height: 38px;
  margin: -2px 11px 0px -8px; }

.btn-social {
  display: inline-block;
  vertical-align: middle;
  background: url(images/spritesheet.png) no-repeat; }

.btn-social-twitter {
  background-position: -257px -85px;
  width: 19px;
  height: 15px; }

.btn-social-fb {
  background-position: -238px -85px;
  width: 9px;
  height: 19px; }

.btn-social-youtube {
  background-position: -164px -5px;
  width: 20px;
  height: 14px; }

.copyright {
  line-height: 71px; }

.copyright__designer-link {
  display: inline-block;
  width: 27px;
  height: 34px;
  background: url(images/spritesheet.png) no-repeat;
  vertical-align: middle;
  margin: 0 3px; }

.copyright__designer-link-by {
  background-position: -201px -85px; }

.copyright__designer-link-for {
  background-position: -164px -85px;
  width: 29px; }

.sprite {
  background-image: url(spritesheet.png);
  background-repeat: no-repeat;
  display: block; }

.sprite-Layer-11 {
  width: 64px;
  height: 76px;
  background-position: -5px -5px; }

.sprite-Layer-12 {
  width: 75px;
  height: 72px;
  background-position: -79px -5px; }

.sprite-Layer-13 {
  width: 74px;
  height: 70px;
  background-position: -79px -87px; }

.sprite-Layer-4 {
  width: 20px;
  height: 14px;
  background-position: -164px -5px; }

.sprite-Layer-8 {
  width: 138px;
  height: 70px;
  background-position: -194px -5px; }

.sprite-Vector-Smart-Object {
  width: 27px;
  height: 33px;
  background-position: -164px -85px;
  width: 27px;
  height: 30px;
  background-position: -201px -85px; }

.sprite-facebook {
  width: 9px;
  height: 19px;
  background-position: -238px -85px; }

.sprite-twitter {
  width: 19px;
  height: 15px;
  background-position: -257px -85px; }
