.a-dot {
  color: grey;
  border-bottom: dotted 1px grey; }

.a-green {
  color: #049404; }

.a-blue {
  color: #2196F3; }

.wee-title {
  font-size: 12px;
  font-weight: 600;
  padding-top: 22px;
  color: grey;
  padding-left: 90px; }

.wrap__big {
  display: inline-block;
  width: 49%; }

.wrap__little {
  display: inline-block;
  width: 49%;
  vertical-align: top; }

.our-contacs,
.our-contacs__item,
.our-contacs__img,
.our-contacs__text-wrapper {
  display: inline-block; }

.h3 {
  font-size: 25px;
  font-weight: 600;
  margin-top: 34px;
  padding-bottom: 28px; }

.our-contacs {
  width: 100%;
  margin-left: 170px; }

.our-contacs__item:nth-of-type(2n+1) {
  width: 46%; }

.our-contacs__item:nth-of-type(2n) {
  width: 32%;
  vertical-align: top;
  height: 57px; }

.our-contacs__text-wrapper {
  vertical-align: top;
  padding-left: 13px; }

.our-contacs__b {
  font-size: 18px; }

.our-contacs__text {
  font-size: 15px;
  font-weight: normal;
  color: #444444; }

.our-contacs__img {
  background: url(../images/sprite_6.png) no-repeat; }

.our-contacs__img_map {
  width: 21px;
  height: 30px;
  background-position: -5px -69px; }

.our-contacs__img_mail {
  width: 20px;
  height: 14px;
  background-position: -93px -69px; }

.our-contacs__img_tel {
  width: 20px;
  height: 36px;
  background-position: -153px -69px; }

.our-contacs__img_skype {
  width: 20px;
  height: 20px;
  background-position: -123px -69px; }

.form {
  background: url("../images/rectangle.png") no-repeat;
  width: 330px;
  height: 317px;
  display: inline-block;
  vertical-align: top;
  margin-top: 36px;
  margin-left: 26px;
  padding-left: 68px;
  padding-top: 22px; }
  .form__title {
    text-transform: uppercase;
    font-weight: 400;
    line-height: 26px;
    font-size: 24px;
    margin-bottom: 5px; }
    .form__title_red {
      line-height: 26px;
      font-weight: 600; }
  .form__input {
    border: 1px solid #e2dfdf;
    border-radius: 2px;
    padding: 0px 13px;
    background: #efefef;
    margin-bottom: 9px;
    box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.04);
    height: 34px;
    width: 199px;
    font-size: 12px; }
  .form__input_submit {
    color: white;
    font-weight: 700;
    font-size: 12px;
    background-color: #e90b0b;
    box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.04);
    width: 198px;
    height: 40px; }
    .form__input_submit:hover {
      background-color: #b80101; }

.form__checkbox-label {
  font-size: 12px;
  position: relative;
  padding-left: 40px;
  vertical-align: top;
  margin-top: 3px;
  margin-bottom: 12px;
  display: inline-block; }
  .form__checkbox-label:before {
    content: "";
    width: 9px;
    height: 9px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.44);
    display: inline-block;
    position: absolute;
    left: 17px;
    top: 3px; }

.form__checkbox-input {
  display: none; }
  .form__checkbox-input:checked + .form__checkbox-label:after {
    content: "";
    background-image: url(../images/sprite.png);
    width: 16px;
    height: 13px;
    background-position: -249px -5px;
    position: absolute;
    top: 2px;
    left: 17px;
    opacity: 1; }

.some-text {
  font-family: "StudioScriptC";
  font-size: 22px;
  font-weight: 600;
  line-height: 23px;
  position: relative;
  display: inline-block;
  margin-top: 161px;
  padding-left: 18px; }
  .some-text:after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: -10px;
    background-image: url(../images/sprite_6.png);
    width: 47px;
    height: 23px;
    background-position: -36px -69px; }

.some-text__span {
  font-size: 20px; }

.for-questions {
  margin-top: 68px;
  padding: 10px 23px 0px 0px;
  background-image: url(../images/sprite_6.png);
  width: 351px;
  height: 54px;
  background-position: -5px -5px; }

.for-questions__text {
  text-align: right;
  font-size: 14px;
  font-style: italic;
  line-height: 14px;
  letter-spacing: 0.45px; }

.map {
  margin-top: 58px; }
