@charset "UTF-8";
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }

@font-face {
  font-family: 'PT Sans', sans-serif;
  src: url("fonts/PT_Sans-Web-Bold.ttf");
  src: url("fonts/PT_Sans-Web-Regular.ttf");
  font-size: 14px; }

html {
  width: 100%;
  height: 100%; }

body {
  font-family: 'PT Sans', sans-serif;
  color: black;
  width: 100%;
  height: 100%;
  text-transform: uppercase; }

* {
  box-sizing: border-box; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

li {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

a {
  text-decoration: none;
  color: black; }

h2 {
  font-size: 1.32em;
  font-weight: bold;
  line-height: 1.3em; }

h1 {
  font-size: 1.32em; }

p {
  font-size: 0.89em;
  line-height: 1.55em; }

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
  padding: 0;
  width: 1200px;
  margin: 0 auto; }

.header {
  background: white;
  height: 56px; }

.top-menu {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  font-size: 0.89em; }

.top-menu__li {
  display: flex;
  line-height: 56px; }

.top-menu__li-tringle {
  background: url(images/spritesheet.png) no-repeat;
  width: 138px;
  height: 70px;
  background-position: -194px -5px;
  display: block; }

.logo {
  background: white url(images/background-photo.jpg) no-repeat 0px -54px;
  min-height: 510px; }

.logo-a {
  display: block;
  padding-top: 76px; }

.logo-a__images {
  display: block;
  margin: 0 auto;
  padding-bottom: 45px; }

.decoration {
  float: left;
  width: 0;
  height: 0;
  border-bottom: 56px solid white;
  border-right: 600px solid transparent; }
  .decoration:after {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 56px solid white;
    border-left: 355px solid transparent;
    position: absolute;
    right: 250px; }

.decoration-end {
  float: right;
  width: 0;
  height: 0;
  border-bottom: 56px solid white;
  border-left: 600px solid transparent; }
  .decoration-end:after {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 56px solid white;
    border-right: 355px solid transparent;
    position: absolute;
    left: 250px; }

.feature {
  text-align: center;
  margin-top: 56px;
  margin-bottom: 55px; }

.section-feature {
  padding-left: 70px;
  padding-right: 70px;
  height: 256px;
  background: #81b3d2;
  text-align: center;
  color: white;
  padding-top: 32px;
  display: inline-block; }
  .section-feature__number {
    margin-top: -9px; }
  .section-feature__text {
    margin-top: 21px; }

.feature__why {
  margin-top: 29px; }

.middle-image {
  display: inline-block;
  float: left; }
  .middle-image-right {
    float: right; }

.middle-image-float {
  float: left; }

.block-feature {
  display: inline-block;
  background: white;
  padding-left: 73px;
  padding-right: 76px;
  height: 320px;
  text-align: center; }
  .block-feature__headline {
    padding-top: 3px; }
  .block-feature:nth-child(3) {
    padding-right: 0px;
    padding-left: 66px; }

.section-feature-padding {
  padding-left: 92px;
  padding-right: 92px; }

.block-feature__image {
  background: url(images/spritesheet.png) no-repeat;
  display: inline-block;
  text-align: center;
  margin-top: 52px; }

.block-feature__image-home {
  width: 75px;
  height: 72px;
  background-position: -79px -5px;
  margin-left: -7px; }

.block-feature__image-bread {
  width: 74px;
  height: 70px;
  background-position: -79px -87px; }

.block-feature__image-gif {
  width: 64px;
  height: 76px;
  background-position: -5px -5px; }

.section-wrapper {
  *zoom: 1; }

.section-wrapper:before, .section-wrapper:after {
  content: "";
  display: table; }

.section-wrapper:after {
  clear: both; }

.section-feature__last {
  background: #eeeeee;
  color: black;
  padding-left: 68px;
  padding-right: 69px;
  padding-top: 25px; }

.after-wrapper {
  position: relative;
  text-align: center;
  margin-top: 47px; }
  .after-wrapper__text {
    margin-top: 29px; }

.after-wrapper__headline {
  font-size: 1.89em; }

.map {
  margin-top: 131px; }

.map__iframe {
  width: 100%;
  height: 474px; }

.footer {
  background: #fff;
  height: 121px;
  width: 1200px;
  position: relative;
  padding-top: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around; }

.contacs {
  font-size: 1.32em;
  font-weight: bold;
  padding-left: 33px; }

.social-buttons {
  text-align: center; }

.btn-social-container {
  display: inline-block;
  text-align: center;
  background-color: #81b3d2;
  width: 48px;
  height: 47px;
  line-height: 44px;
  margin: -8px 16px 0px -16px; }

.btn-social {
  display: inline-block;
  vertical-align: middle;
  background: url(images/spritesheet.png) no-repeat; }

.btn-social-twitter {
  background-position: -287px -85px;
  width: 19px;
  height: 15px; }

.btn-social-fb {
  background-position: -268px -85px;
  width: 9px;
  height: 19px; }

.btn-social-youtube {
  background-position: -164px -5px;
  width: 20px;
  height: 14px; }

.copyright__designer-link {
  display: inline-block;
  width: 27px;
  height: 34px;
  background: url(images/spritesheet.png) no-repeat;
  vertical-align: middle;
  margin: 0 3px; }

.copyright__designer-link-by {
  background-position: -201px -85px; }

.copyright__designer-link-for {
  background-position: -164px -85px;
  width: 29px; }

.popup {
  background: white;
  height: 482px;
  width: 570px;
  margin: 0 auto;
  position: absolute;
  top: 156px;
  left: 316px;
  font-weight: bold; }
  .popup__header {
    font-size: 1.3em;
    background: #766357;
    height: 86px;
    line-height: 82px;
    color: white; }

.form__button {
  background: #81b3d2;
  color: white;
  height: 60px;
  margin-bottom: 54px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
  line-height: 60px;
  font-size: 1.3em;
  font-weight: bold;
  font-size: 1.3em;
  width: 459px;
  margin-top: 40px;
  text-transform: uppercase; }

.form {
  margin-top: 55px;
  padding: 0 56px; }

h3 {
  margin: 0; }

input {
  border: none; }

.form__input {
  width: 345px;
  margin-bottom: 29px;
  padding: 7px 15px;
  background: #f2f2f2;
  position: relative; }
  .form__input_flex {
    text-align: center; }

.form__group {
  position: relative; }
  .form__group_calendar:after {
    content: "";
    background: url(images/spritesheet.png);
    background-position: -238px -85px;
    width: 20px;
    height: 22px;
    position: absolute;
    right: 10px;
    top: 5px; }

.form__num {
  position: relative; }
  .form__num:before {
    content: "—";
    position: absolute;
    left: 37px;
    top: 0px;
    width: 15px;
    height: 15px;
    color: #c1c1c1;
    z-index: 1; }
  .form__num:after {
    content: "+";
    position: absolute;
    right: 14px;
    top: -2px;
    width: 15px;
    height: 15px;
    color: #c1c1c1;
    font-size: 21px; }

.form__group_flex {
  padding-bottom: 20px;
  display: inline-block; }

.form__input_flex {
  padding: 6px 10px;
  width: 116px;
  margin-left: 24px; }

.form__group_wrapper {
  display: flex;
  justify-content: space-between;
  padding-left: 2px; }

@media only screen and (max-width: 320px) {
  a {
    color: white; }
  .wrapper,
  .footer {
    width: auto; }
  .top-menu {
    flex-direction: column;
    height: 224px;
    font-size: 1.14em; }
  .top-menu__li {
    color: white;
    text-align: center;
    background: #81b3d2;
    display: block;
    position: relative;
    z-index: 100;
    border-bottom: solid 1px rgba(91, 91, 91, 0.77);
    border-top: solid 1px rgba(251, 251, 251, 0.6);
    height: 56px; }
    .top-menu__li:last-child {
      border-bottom: none;
      box-shadow: inset 0px -3px 2px 0px rgba(91, 91, 91, 0.45); }
  .top-menu__li:nth-child(3) {
    order: 1;
    background: white;
    display: flex;
    margin: auto;
    border: none; }
  .top-menu__li:nth-child(4) {
    order: -1;
    border-top: none; }
  .logo {
    margin-top: 223px; }
  br {
    display: none; }
  .section-feature,
  .block-feature {
    padding-right: 0;
    padding-left: 0;
    width: auto; }
  .section-feature {
    height: 191px; }
  .section-feature__last {
    height: 168px; }
  .block-feature {
    height: 208px; }
  .section-feature-order:nth-child(2) {
    order: -1; }
  .section-wrapper {
    display: flex;
    flex-direction: column; }
  .contacs a {
    color: black; }
  .footer {
    padding-top: 31px;
    padding-bottom: 25px;
    flex-direction: column;
    text-align: center;
    margin-top: 70px; }
  .social-buttons {
    padding-top: 42px;
    padding-bottom: 42px; }
  .copyright {
    padding-bottom: 25px; }
  .decoration:after {
    display: none; }
  .decoration-end:after {
    display: none; }
  .logo {
    position: relative;
    background: white url(images/background-photo-mobile.jpg) no-repeat 0 0; }
  .decoration,
  .decoration-end {
    position: absolute;
    bottom: -1px;
    border-bottom: 26px solid white; }
  .decoration-end {
    right: 0;
    border-left: 160px solid transparent; }
  .decoration {
    left: 0;
    border-right: 160px solid transparent; }
  .feature {
    position: relative;
    padding: 0 26px;
    margin-top: 38px; }
    .feature:after {
      content: "";
      border: 160px solid transparent;
      border-top: 15px solid white;
      position: absolute;
      top: 186px;
      left: 0; }
  h1 {
    font-size: 1.094em;
    line-height: 1.55em; }
  .after-wrapper__text,
  .feature__why {
    font-size: 0.88em;
    line-height: 1.8em; }
  .feature__why {
    margin-bottom: 27px; }
  .after-wrapper {
    padding: 0 10px;
    margin-top: 28px;
    margin-bottom: 25px; }
    .after-wrapper p {
      margin-top: 15px; }
  .after-wrapper__headline {
    font-size: 1.33em; }
  h2 {
    font-size: 1.1em; }
  .section-feature {
    padding: 5px 28px 0 22px;
    height: 206px; }
  .section-feature__headline {
    margin-top: 0px; }
  .section-feature__number {
    margin-top: -5px; }
  .section-feature__title {
    margin-top: 0px; } }
