$purple: #5b50c6
$grey: #636f7b
$mobile : 320px
$pad : 428px
$desktop : 1240px

@mixin adaptive($media) 
	@if $media == mobile 
		@media only screen and (max-width: $pad) 
			@content
		
	
	@else if $media == pad 
		@media only screen and (min-width: $pad) and (max-width: $desktop) 
			@content
		
	
	@else if $media == desktop 
		@media only screen and (min-width: $desktop )
			@content


@font-face
	font-family: 'Roboto', sans-serif

body
	font-family: 'Roboto', sans-serif
	font-size: 16px
	position: relative
	margin: 0
	text-align: center
	min-width: 320px
	@include adaptive(mobile)
		font-size: 14px
		min-width: 320px
		overflow-x: hidden
	*
		box-sizing: border-box

p
	margin: 0

input
	padding: 0

a
	text-decoration: none

.active
	color: #5b50c6

.overlay
	background: rgb(133, 109, 215)
	background: -moz-linear-gradient(30deg, rgb(133, 109, 215) 30%, rgb(42, 45, 177) 89%)
	background: -webkit-linear-gradient(30deg, rgb(133, 109, 215) 30%, rgb(42, 45, 177) 89%)
	background: -o-linear-gradient(30deg, rgb(133, 109, 215) 30%, rgb(42, 45, 177) 89%)
	background: -ms-linear-gradient(30deg, rgb(133, 109, 215) 30%, rgb(42, 45, 177) 89%)
	background: linear-gradient(120deg, rgb(133, 109, 215) 30%, rgb(42, 45, 177) 89%)
	width: 100%
	height: 100%
	position: fixed
	top: 0
	left: 0
	@include adaptive(mobile)
		display: none

.block-lay
	display: inline-block
	height: 600px
	width: 0

.block
	position: relative
	background: white
	z-index: 10
	width: 720px
	padding: 4px 0px 58px 31px
	border-radius: 5px
	display: inline-block
	vertical-align: baseline
	text-align: left
	@include adaptive(mobile)
		width: 320px
		padding-left: 0


//	your

.your
	display: inline-block
	width: 49%
	@include adaptive(mobile)
		display: block
		width: 100%
		padding-bottom: 30px
		text-align: center

.your__form

.your__title
	font-size: 1.5rem
	padding-left: 22px
	letter-spacing: 1px
	line-height: 1.5
	@include adaptive(mobile)
		padding-left: 0

// .your__name,
// .your__password,
// .your__email,
// .your__number
.your__input,
.your__city
	display: inline-block
	width: 300px
	margin-bottom: 22px
	border-radius: 5px
	border: 2px solid #b0b7be
	height: 58px
	padding-left: 16px
	font-weight: 600
	&:hover
		border-color: #636f7b
	@include adaptive(mobile)
		width: 92%
		height: 42px
		margin-bottom: 15px


// .your__city
// 	width: 320px
// 	height: 58px
// 	display: inline-block
// 	margin-bottom: 22px
// 	border-radius: 5px
// 	font-weight: 600
// 	border: none
// 	-webkit-appearance: none
// 	&:hover
// 		border-color: #636f7b

// .city
// 	height: 58px
// 	border: 2px solid #b0b7be
// 	overflow: hidden
// 	width: 300px
// 	display: inline-block
// 	margin-bottom: 22px
// 	border-radius: 5px
// 	padding-left: 16px
// 	font-weight: 600
// 	position: relative
// 	&:after
// 		content: '▼'
// 		position: absolute
// 		top: 20px
// 		right: 8px
// 		color: $grey
// 		z-index: -1
// 	@include adaptive(mobile)
// 		width: 89%


// .your__city
// 	background: transparent

// .city__option
// 	margin-left: -20px


.error
	display: inline-block
	border: 2px solid red
	position: relative

.error-i
	display: inline-block
	line-height: 55px
	color: red
	padding-left: 6px
	@include adaptive(mobile)
		line-height: inherit
		font-size: 0.75rem
		padding-left: 2px
		display: none


.input-radio
	visibility: hidden

.wrap-gender
	position: relative
	padding-top: 13px
	text-align: left
	@include adaptive(mobile)
		text-align: center
.gender
	cursor: pointer
	&:nth-of-type(1)
		padding-right: 36px
		margin-left: -6px
		@include adaptive(mobile)
			padding-right: 43px
			margin-left: -41px
	&:before
		content: ''
		cursor: pointer
		position: absolute
		top: 55%
		margin-top: -8px
		box-sizing: border-box
		width: 54px
		height: 30px
		left: 32%
		background: #fff
		border: 1px solid #b0b7be
		border-radius: 15px 
		z-index: -1
		@include adaptive(mobile)
			left: 38%

.gender_female
	margin-left: 23px
	&:after
		content: ''
		position: absolute
		margin-top: -7px
		top: 62%
		left: 36%
		width: 24px
		height: 24px
		background: #5b50c6
		border-radius: 19px
		pointer-events: none
		box-shadow: 0 0.1429em 0.2143em rgba(43,43,43,.1), 0 0.3572em 0.3572em rgba(43,43,43,.1)
		transition: left .2s ease-in-out, background .2s ease-in-out
		@include adaptive(mobile)
			left: 43%

.input-radio_male:checked ~ .gender_female:after
	left: 33%
	@include adaptive(mobile)
		left: 39%

.input-radio_female:checked ~ .gender_female:after
	left: 40%
	@include adaptive(mobile)
		left: 46%

.input-radio_male:checked ~ .gender_male,
.input-radio_female:checked ~ .gender_female
	color: #5b50c6

.input-radio_male:checked ~ .gender:before,
.input-radio_male:checked ~ .gender_female:after
	z-index: 1

// .input-radio_female:checked ~ .gender:before
// 	z-index: -1
.input-radio_female:checked ~ .gender_male
	z-index: 2


//	know

.know
	display: inline-block
	vertical-align: top
	width: 49%
	@include adaptive(mobile)
		display: block
		width: 100%
		padding-bottom: 30px
		text-align: center

.know__title
	font-size: 1.5rem
	padding-left: 17px
	letter-spacing: 1px
	@include adaptive(mobile)
		padding-left: 0

.know__text-wrap
	display: inline-block
	width: 62%
	vertical-align: top
	padding-top: 6px

.know__img
	display: inline-block
	width: 24%
	margin-top: 7px
	margin-left: 17px

.know__text-block
	padding-bottom: 20px
	padding-left: 17px
	text-align: left

.know__text
	padding-left: 7px
	vertical-align: top
	display: inline-block
	text-align: left

.know__span
	font-weight: 600
	vertical-align: top

.file-wrap
	position: relative
	@include adaptive(mobile)
		text-align: center

.file
	width: 0.1px
	height: 0.1px
	opacity: 0
	overflow: hidden
	position: absolute
	z-index: -1

.file__label
	cursor: pointer
	width: 339px
	height: 158px
	line-height: 158px
	background: #ffc739
	display: inline-block
	margin-left: 18px
	margin-top: 22px
	text-align: center
	border-radius: 5px
	position: relative
	@include adaptive(mobile)
		width: 280px
		height: 130px
		line-height: 130px
		margin-left: 0
	&:before
		content: ' '
		position: absolute
		width: 10px
		height: 11px
		background: #b58200
		right: 0px
		top: 98%
		border-radius: 0px 0px 15px 0px
		z-index: -1
		@include adaptive(mobile)
			display: none
	&:after
		content: ''
		position: absolute
		top: 19px
		left: 19px
		width: 297px
		height: 114px
		border: dashed 2px white
		border-radius: 5px
		@include adaptive(mobile)
			top: 17px
			left: 17px
			width: 240px
			height: 94px

.file__span
	color: white
	text-transform: uppercase

.rules
	position: relative
	padding-top: 21px

.rules__checkbox
	visibility: hidden

.rules__label
	display: inline-block
	position: relative
	padding-left: 72px
	@include adaptive(mobile)
		padding-left: 25px
		text-align: left
	&:before
		content: ''
		position: absolute
		width: 22px
		height: 24px
		border: 1px solid #b0b7be
		border-radius: 5px
		left: 37px
		top: 0
		@include adaptive(mobile)
			left: -12px
	&:after
		content: 'V'
		position: absolute
		left: 43px
		top: 1px
		color: $purple
		font-weight: 600
		font-size: 1.125rem
		font-family: 'Architects Daughter', cursive
		opacity: 0
		@include adaptive(mobile)
			left: -5px

.rules__checkbox:checked ~ .rules__label:after
	opacity: 1

.know__rules-a
	color: $purple

.input__submit
	border-radius: 50px
	width: 300px
	background: #2328ae
	line-height: 58px
	border: none
	color: white
	font-weight: 600
	text-transform: uppercase
	margin-top: 22px
	margin-left: 17px
	@include adaptive(mobile)
		width: 88%
		line-height: 42px
		display: block
		margin: 22px auto 0

