.container{
	width: 960px;
	margin: 0 auto;
}

@font-face {
	font-family: 'Benguiat Rus';
	src: url('fonts/subset-Benguiat.eot');
	src: url('fonts/subset-Benguiat.eot?#iefix') format('embedded-opentype'),
		url('fonts/subset-Benguiat.woff2') format('woff2'),
		url('fonts/subset-Benguiat.woff') format('woff'),
		url('fonts/subset-Benguiat.ttf') format('truetype'),
		url('fonts/subset-Benguiat.svg#Benguiat') format('svg');
	font-weight: normal;
	font-style: normal;
}

.f-b{
	font-family: 'Benguiat Rus';
	color: #fff;
	font-size: 30px;
}

body{
	background-image: url(images/bg.png);
	background-repeat: no-repeat;
	background-size: ;
	background-position: top center;
	background-color: black;
	background-attachment: inherit;
}

